body {
  background-color: rgb(37, 128, 105);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: rgb(53, 7, 53);
  min-width: fit-content;
  height: 100%;
  padding: 1.75rem;
}

#display {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 2rem;
  padding: 1.25rem;
  border-radius: 15px;
  color: #fff;
  justify-content: flex-end;
}

main {
  display: flex;
  flex-direction: column;
}

.btn {
  margin-bottom: 4px;
  width: 4rem;
  height: 4rem;
  border: 2px solid #fff;
  border-radius: 15px;
}
