body {
  background-color: rgb(174, 174, 221);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: fuchsia;
  min-width: fit-content;
  height: 100%;
  padding: 1.75rem;
}

#display {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 2rem;
  padding: 1.25rem;
  border-radius: 15px;
  color: #fff;
  justify-content: flex-end;
}

main {
  display: flex;
  flex-direction: column;
}

.btn {
  margin-bottom: 4px;
  width: 4rem;
  height: 4rem;
  border: 2px solid #fff;
  border-radius: 15px;
}     

      #calculadora.button-text {
    font-family:Arial, Helvetica, sans-serif;
      text-align: center;
      font-weight: bold;
      font-size: 30pt;
      }
      #calculadora{
        position: absolute;
        background-color: rgba(36, 9, 61,0.6);
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        border-radius:15px;
        padding:15px;
}
